@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fontLF: 'Libre Franklin', serif;
    --fontIBM: "IBM Plex Mono", serif;
    --colorGreen: #5AB963;
}

*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background-color: #F5F5F5;
}

.container{
    max-width: 1178px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.info{
    color: #999;
    font-weight: 100;
    font-size: 24px;
    line-height: 150%;
    font-family: var(--fontLF);
}

.info span{
    color: black;
    font-weight: 700;
}

.btn {
    background-color: var(--colorGreen);
    padding: 15px 27px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--fontLF);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #fff;
    transition: transform 1s;
}

.btn:hover {
    transform: scale(1.3);
}


ul, ol{
    margin: 0;
    padding: 0;
}