.advert {
    margin-top: 120px;
}

.advert__container {
    max-width: 1380px;
    margin: 0 auto;
}

.advert__contant {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advert__info {
    max-width: 685px;
}

.advert__link {
    margin-top: 33px;
}